# Compiled JavaScript files
*.js
*.js.map
*.d.ts

# Except for configuration files
!jest.config.js
!.eslintrc.js
!**/webpack.config.js

# TypeScript cache
*.tsbuildinfo

# Dependencies
node_modules/

# Environment files
.env
.env.local

# IDE files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous stuff
TFC*
*.swp
coverage/
JestTesting/