td, th {
  width: 60;
  border: 1px solid;
}
table {
  border-collapse: collapse;
  text-align: left;
}
#Diff td, #Prices td {
  color: blue;
}
#Doc {
    overflow: scroll;
    max-height: 1000px;
    max-width: 800px;
}
