html, body, #RDiv, #LDiv {
    height: 100%;
    width: 100%;
}
td, th {
    border: 1px solid;
}
table {
    border-collapse: collapse;
    text-align: left;
}
#Diff td, #Prices td {
    color: blue;
}
#Doc {
    height: 100%;
    width: 400px;
    float: left;
}
div {
    overflow: scroll;
    resize: horizontal;
}
#RDiv {
    float: right;
    width: auto;
    resize: none;
}
#LDiv {
    float: left;
    width: auto;
}
#GDiv {
    width: auto;
    resize: both;
}
#myCanvas {
    width: inherit;
    height: inherit;
    resize: both;
    border: 1px solid #000000;
}
