td, th {
  border: 1px solid;
}
table {
  border-collapse: collapse;
  text-align: left;
  float: right;
}
#Diff td, #Prices td {
  color: blue;
}
#Doc {
    overflow: scroll;
    height: 500px;
    width: 400px;
    resize: both;
    float: left;
}
